aniso8601==10.0.0
blinker==1.8.2
case_convert==1.1.0
click==8.1.7
colorama==0.4.6
Flask==3.0.3
flask-controller==0.0.2
flask-cors==5.0.1
Flask-Login==0.6.3
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
psycopg2==2.9.10
psycopg2-binary==2.9.10
PyMySQL==1.1.1
pytz==2025.2
six==1.17.0
SQLAlchemy==2.0.35
typing_extensions==4.12.2
Werkzeug==3.0.3
